@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: url("/Anh Chung/bìa 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    font-size: 40px;
    margin-top: 190px;
    text-align: center;
    animation: 3s changeColor infinite;
}
@keyframes changeColor {
    0%{
        color: red;
    }
    30%{
        color: chocolate;
    }
    60%{
        color: orange;
    }
    100%{
        color: palevioletred;
    }
}
  